
/* #initial-viewport {
    height: 100%; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
} */

.homepage {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* height: 200vh; 
    overflow: hidden;  */
}

/* .search-location,
.about-section,
.election-education {
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow-y: auto;
} */

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.search-location {
    margin-bottom: 40px; 
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-location h2 {
    font-size: 34px;
    background: linear-gradient(to right, #E6117C, #4A3CDB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
}

.about{
    padding: 80px;
}

.education-section {
    display: none;
    min-height: 100vh;
    /* background: linear-gradient(to right, #1A6DFF, #E6ABFF); */
    /* background: linear-gradient(to right, #4A3CDB, #E6117C); */
    /* background: linear-gradient(to right, #2D0047, #000000); */
    /* background: black; */
    /* width: 100%; */
    /* padding: 20px; */
    box-sizing: border-box;
}

.homepage.scrolled .education-section {
    display: block;
}


/* .footer {
    min-height: 100vh; 
    color: white; 
    padding: 20px;
} */

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .search-about-container {
        padding: 10px;
    }

    .education-section,
    .footer {
        padding: 10px;
    }
}
