.candidate-card {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  width: max-content;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.card-details,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.candidate-name {
  font-size: 17px;
}

/* .star {
  font-size: 1.1em;
  color: black;
  cursor: pointer;
  transition: color 0.15;
}

.star.favorited {
  color: rgb(225, 225, 0);
} */
