.candidate-card {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  width: max-content;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  position: relative;
  border: 0.5px solid black;
  box-shadow: 0 0px 6px;
  /* background: white; */
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

.candidate-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 1.5px;
  background: linear-gradient(to bottom right, #e6117c, #4a3cdb);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

.card-details {
  padding: 5px;
}

.candidate-party,
.candidate-position {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.candidate-name {
  font-size: 23px;
  margin: 0 0 5px 0;
}

/* .star {
  font-size: 1.1em;
  color: black;
  cursor: pointer;
  transition: color 0.15;
}

.star.favorited {
  color: rgb(225, 225, 0);
} */
