/* LoginPromptModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 18px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.modal-buttons {
    margin-top: 20px;
}

.modal-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    /* background: linear-gradient(144deg,#af40ff,#5b42f3 50%,#00ddeb); */
    /* background: linear-gradient(to bottom right, #E6117C, #E6117C); */
    background: linear-gradient(144deg,#E6117C,#4A3CDB 50%,#00ddeb);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.modal-close {
    margin-top: 20px;
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
}
.not-logged-prompt-icon{
    width: 8%; 
    height: auto;
    /* margin-right: 10px; */
    
}
.not-logged-promt-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 5px; */
}
