
.forum-post {
    position:relative;
    display:flex;

    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    /* border: .5px solid black; */
    /* box-shadow: 0px 0px 10px lightblue ; */
    padding: 20px;
    border-radius: 15px;
    max-width: 1000px;
    margin: 20px auto;
    /* background: white; */
    /* background: rgba(255, 255, 255, .17); */
    /* border-bottom: 1px solid black; */
    z-index: 1;
}

.forum-post:hover::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px; 
    width: .9px; 
    /* box-hadow: -4px 10px 20px #E6117C;  */
    
    box-shadow: -9px 0 10px 2px #dac6c6;
    /* box-shadow: -4px 0 10px 2px rgba(230, 17, 124, 0.8); */
    z-index: -1; 
}
.forum-post:hover{
    /* box-shadow: 0px 0px 10px #E6117C; */
    /* box-shadow: -4px 0 0 #E6117C; */
}

.forum-post::after {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 100%;
    height: 2px; 
    background: linear-gradient(144deg,#E6117C,#4A3CDB 50%,#00ddeb);
    /* background: black; */
    opacity: 0.7; /* Adjust opacity as desired */
    z-index: -1;
    border-radius: 15px; 
}


.forum-post-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.userinformation {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.forum-username{
    margin-left: 10px;
    color: gray;
    font-size: 0.9em;
}
.forum-fullname{
    margin: 0;
    font-size: 1.2em;
    /* color: white; */
    /* color: black; */
    color: #4c4651;
}

.forum-post-text {
    /* margin: 6px 0; */
    margin-top: -10px;
    margin-left: 65px;
    /* color: ghostwhite; */
    color: black;
    font-size: 20px;
    
}

 /* Like Button!!!! */

.forum-like-button {
    padding: 5px;
    border: none;
    /* background-color: white; */
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.like-icon {
    width: 24px;
    height: 24px;
    margin-right: 3px;
    transform: scale(1);
    transition: .2s linear;
    color: rgb(46, 19, 82);
}
.like-icon:hover{
    transform: scale(1.2);
}

.like-count {
    font-size: 16px;
    /* color: white; */
    color: black;
}

/* LIKE AND DELETE */

.like-and-delete{
    display:flex;
    /* justify-content: space-between; */
    width: 95%;
    align-self: flex-end;
    position: absolute;
    bottom: 10px;
    right: 13px;
}

/* DELETE BUTTON */

.delete-button {
    background-color: transparent;
    position: relative;
    border: none;
    margin-left: auto; 
    display: inline-block; 
    cursor: pointer;
}
.delete-icon {
    transform: scale(1.2);
    transition: .2s linear;
    fill: rgb(154, 16, 16)
}
  
.delete-button:hover > .delete-icon {
    transform: scale(1.5);
}
  
.delete-button:hover > .delete-icon path {
    fill: rgb(193, 111, 111);
}

/* REPLY BUTTON */

.group {
    position: relative;
}
  
.comment-icon {
    width: 27px;
    height: 27px;
    transition: transform 0.2s;
    border:none;
    background:none;
    margin-bottom: -17px;
    stroke: #8251bb;
} 
  
.comment-icon:hover {
    transform: scale(1.25);
    stroke: #4A3CDB;
}
  
  
.group:hover .tooltip {
    transform: scale(1);
}
.comment-button{
    background:none;
    border:none;
    cursor:pointer;
    padding:0;
    outline:none;
}

.forum-username-timestamp {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.timestamp {
    margin-left: 10px;
    color: gray;
    font-size: 0.9em;
    white-space: nowrap;
}

.tooltip {
    position: absolute;
    /* bottom: 100%;
    left: 50%; */
    top: 10%;
    left: 100%;
    /* transform: translateX(-50%); */
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 10;
    width: max-content;
}

.group:hover .tooltip {
    opacity: 1;
    visibility: visible;
}