.election-results {
  min-height: 100vh;
  padding-top: 100px;
  background-color: white;
  font-family: "poppins", arial;
}

.title-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  max-width: 1000px;
  margin: 20px auto;
  /* background: white; */
  /* z-index: 1; */
}

/* .change-address-button {
  color: black;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: -10px;
  position: relative;
}
.change-address-button::after {
  content: "";
  background: linear-gradient(#e6117c, #4a3cdb);
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease-in-out;

}
.change-address-button:hover::after {
  width: 100%;
} */

.showing-elections-for {
  font-size: 23px;
  background: linear-gradient(to right, #e6117c, #4a3cdb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
.address {
  font-size: 23px;
  font-family: arial;
  font-style: italic;
  font-weight: 500px;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px 9px 0 10px;
}

.change-address-button {
  color: black;
  background: linear-gradient(to right, #e6117c, #4a3cdb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 21px;
  /* margin-top: 3px; */
  cursor: pointer;
}

.change-address-button::after {
  content: "";
  background: linear-gradient(to right, #e6117c, #4a3cdb);
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 1;
  transition: width 0.3s ease-in-out;
}

.change-address-button:hover::after {
  width: 100%;
}

.no-elections-response {
  margin-top: 75px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: arial;
  gap: 60px;
}

.no-elections-text {
  margin: 0;
}

.current-elections-menu {
  width: 700px;
  text-align: center;
  padding: 0;
}
.current-elections-list {
  padding-left: 15px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 24px;
  gap: 3.5px;
}

/* LOADING.... */

.custom-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.dot {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #e6117c;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: -0.2s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #4a3cdb;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
  50% {
    transform: scale(1.2);
    background-color: #e6117c;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }
  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

@media (max-width: 1024px) {
  .title-section {
    padding: 30px 0 0 0;
    gap: 5px;
  }
  .showing-elections-for,
  .address,
  .change-address-button {
    font-size: 20px;
  }
}

@media (max-width: 820px) {
  .title-section {
    flex-direction: column;
    padding: 20px 0 0 0;
    gap: 5px;
  }
  .showing-elections-for,
  .address,
  .change-address-button {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .title-section {
    flex-direction: column;
    padding: 20px 0 0 0;
    gap: 5px;
  }
  .showing-elections-for,
  .address,
  .change-address-button {
    font-size: 20px;
  }
}

@media (max-width: 430px) {
  .title-section {
    flex-direction: column;
    padding: 10px 0 0 0;
    gap: 5px;
  }
  .showing-elections-for,
  .address,
  .change-address-button {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .title-section {
    flex-direction: column;
    padding: 0;
    gap: 5px;
  }
  .showing-elections-for,
  .address,
  .change-address-button {
    font-size: 12px;
  }
}
