.forum-page-container{
    padding-top: 100px;
    /* background: linear-gradient(to right, #000000, #2D0047); */
    
}
.forum-title{
    margin-bottom: 13px;
    /* color:white; */
    color: black;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    /* font-weight: bold; */
}
/* .forum-title{
    background: linear-gradient(to right, #E6117C, #4A3CDB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.forum-description{
    color: gray;
    /* font-size: 0.9em; */
    font-size: 15px;
    margin-top: -10px;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: bold; */
}
.forum-info-section{
   /* margin: 0px 20px; */
   margin-left: 10px;
   margin-bottom: -45px;
   
}
.form-title-button{
    position:relative;
    display:flex;

    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 20px auto;
}


/* ADD POST BUTTON */

.Btn {
    margin: 20px auto;
    margin-left: auto;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border-radius: calc(45px/2);
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background: linear-gradient( #E6117C, #4A3CDB);
}
  
  /* plus sign */
.sign {
    width: 100%;
    font-size: 2.2em;
    color: white;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
  /* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.4em;
    font-weight: 500;
    transition-duration: .3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
 
.Btn:hover {
    width: 125px;
    transition-duration: .3s;
}
  
.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 5px;
}
  
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 5px;
    padding-left: 5px;
}
 
.Btn:active {
    transform: translate(2px ,2px);
}

.switch-posts-buttons-container{
    display:flex;
    justify-content: center;
    justify-content: space-between;
    width:100%;
    margin:20px auto;
}
.view-all-posts, .your-posts{
    border:none;
    background: rgba(255, 255, 255, 0);
    font-size: 23px;
    margin:0 18%;
    position:relative;
    cursor: pointer;
    /* color: white; */
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: bold; */
    /* font-weight: bold; */

}
.view-all-posts::after, .your-posts::after{
    content: '';
    /* text-decoration: underline; */
    background: linear-gradient( #E6117C, #4A3CDB);
    width:0;
    height:2px;
    position: absolute;
    bottom: -2px; 
    left: 0;
    transition: width 0.3s ease-in-out;
}
.view-all-posts:hover::after, 
.your-posts:hover::after {
    width: 100%;
}

.forum-page-container {
    /* Your existing styles */
  }
  
  .pagination-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .MuiPagination-ul {
    justify-content: center;
  }
  
  .view-all-posts.clicked::after, .your-posts.clicked::after {
    width: 100%;
  }


@media (max-width: 768px) {
    .forum-title {
        font-size: 22px;
    }

    .forum-description {
        font-size: 12px;
    }

    .forum-title, .forum-description{
        margin-left: 20px;
    }

    .Btn{
        margin-right: 20px;
        height: 35px;
        padding-top: 0;
    }

    .switch-posts-buttons-container button{
        font-size: 15px;
        /* text-align: left; */
    }
}

/* LOADING.... */

.custom-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  
  .dot {
    height: 20px;
    width: 20px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #e6117c;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: -0.2s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: #4a3cdb;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
    50% {
      transform: scale(1.2);
      background-color: #e6117c;
      box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
    100% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  }

/*   @media (max-width: 820px) {
    .view-all-posts, .your-posts{
        font-size: 20px
    }
    .forum-description{
        font-size: 12px;
    }
    .forum-title{
        font-size: 24px
    }
} */



