.forum-page-container{
    padding-top: 100px;
}
.forum-title{
    margin-bottom: 13px;
    color:white;
}
.forum-description{
    color: gray;
    font-size: 0.9em;
    margin-top: -10px;
}
.forum-info-section{
   /* margin: 0px 20px; */
   margin-left: 10px;
   margin-bottom: -45px;
   
}
.form-title-button{
    position:relative;
    display:flex;

    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 20px auto;
}


/* ADD POST BUTTON */

.Btn {
    margin: 20px auto;
    margin-left: auto;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border-radius: calc(45px/2);
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    /* background: linear-gradient(144deg,#af40ff,#5b42f3 50%,#00ddeb); */
    /* background: linear-gradient(to bottom right, #E6117C, #4A3CDB); */
    /* background: linear-gradient(144deg,#E6117C,#4A3CDB 50%,#00ddeb); */
    background: linear-gradient( #E6117C, #4A3CDB);
}
  
  /* plus sign */
.sign {
    width: 100%;
    font-size: 2.2em;
    color: white;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
  /* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.4em;
    font-weight: 500;
    transition-duration: .3s;
    
}
  /* hover effect on button width */
.Btn:hover {
    width: 125px;
    transition-duration: .3s;
}
  
.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 5px;
}
  /* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 5px;
    padding-left: 5px;
}
  /* button click effect*/
.Btn:active {
    transform: translate(2px ,2px);
}

.switch-posts-buttons-container{
    display:flex;
    justify-content: center;
    justify-content: space-between;
    width:100%;
    margin:20px auto;
}
.view-all-posts, .your-posts{
    border:none;
    background: rgba(255, 255, 255, 0);
    font-size: 22px;
    margin:0 18%;
    position:relative;
    cursor: pointer;
    color: white;

}
.view-all-posts::after, .your-posts::after{
    content: '';
    /* text-decoration: underline; */
    background: linear-gradient( #E6117C, #4A3CDB);
    width:0;
    height:2px;
    position: absolute;
    bottom: -2px; 
    left: 0;
    transition: width 0.3s ease-in-out;
}
.view-all-posts:hover::after, 
.your-posts:hover::after {
    width: 100%;
}


