.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #F6E6CB;
  border-bottom: 1px solid #ddd;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.nav-item {
  cursor: pointer;
  font-size: 18px;
  color: black;
}
.nav-item:hover {
  color: #555;
}

.auth-buttons,
.nav-auth-container {
  display: flex;
  gap: 15px;
}
.sign-in-btn,
.register-btn {
  background-color: #f0f0f0;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.sign-in-btn:hover, .register-btn:hover {
    background: linear-gradient(to bottom right, #E6117C, #4A3CDB); /* Updated background */
    color: white;

}

.map-name-link, .home-name-link, .forum-name-link{
  text-decoration: none;
  color:black;
}
.map-name-link:hover, .home-name-link:hover, .forum-name-link:hover{
  text-decoration: none;
  color:black;
}
.map-name-link:after, .home-name-link:after, .forum-name-link:after{
  content: '';
  /* text-decoration: underline; */
  background: linear-gradient( #E6117C, #4A3CDB);
  width:0;
  height:2px;
  position: absolute;
  bottom: -2px; 
  left: 0;
  transition: width 0.3s ease-in-out;
}
.map-name-link:hover::after, .home-name-link:hover:after, .forum-name-link:hover:after{
  width: 100%;
}
