.election-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 20px auto;
}
.each-election {
  position: relative;
  display: flex;

    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    /* border: .5px solid black; */
    box-shadow: 0 0px 6px ;
    padding: 20px;
    border-radius: 15px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
    width: 100%; 
    max-width: 1000px; 
}
.each-election::after {
  /* content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 1.5px;
  background: linear-gradient(to bottom right, #e6117c, #4a3cdb);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1; */
  content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 100%;
    height: 1px; 
    background: linear-gradient(144deg,#E6117C,#4A3CDB 50%,#00ddeb);
    /* background: black; */
    opacity: 0.7; /* Adjust opacity as desired */
    z-index: -1;
    border-radius: 15px; 
}

.election-name-link {
  color: black;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.election-name-link::after {
  content: "";
  background: linear-gradient(#e6117c, #4a3cdb);
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.election-name-link:hover::after {
  width: 100%;
}

.election-name {
  color: black;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.election-day{
    margin-top: 0px;
    font-size: .9rem;
    color: rgb(65, 64, 64);

}