.register-container {
    padding: 40px 20px;
    width: 400px;
    margin: 50px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    color: white;
}
.register-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #E6117C, #4A3CDB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.register-container input {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
.register-container button {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.register-container button:hover {
    background: linear-gradient(144deg,#E6117C,#4A3CDB 50%,#00ddeb);
    border-color: #4a90e2;
  }
.signup {
    color: black;
    font-family: 'Poppins', sans-serif;
}
.social-message {
    color: black
}
