.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: linear-gradient(to right, #000000, #2D0047);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 20px 50px;
    position: relative;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.branding {
    display: flex;
    align-items: center;
}
.poll-pal-icon {
    width: 50px; 
    height: auto;
    margin-right: 10px;
}

.description {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
}

.poll-white {
    background: linear-gradient(to right, #E6117C, #4A3CDB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.copyright {
    font-size: 12px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    margin-top: 20px;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.students {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.student {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.student-name {
    margin-bottom: 10px;
    font-size: 14px;
}

.student-icons {
    display: flex;
    align-items: center;
}

.linkedin-link,
.github-link {
    margin-left: 5px;
}

.linkedin-icon,
.github-icon {
    width: 20px;
    height: 20px;
}

.github-icon {
    border-radius: 8px;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-left,
    .footer-right {
        margin: 10px 0;
    }

    .footer-right{
        font-size: 0px;
    }

    .footer-center {
        position: relative;
        bottom: auto;
        left: auto;
        transform: none;
    }

    .students {
        flex-direction: column;
        align-items: center;
    }

    .student {
        margin-bottom: 5px;
    }

    .student-name {
        margin-bottom: 2px;
        font-size: 12px;
    }
}
